button {
  appearance: none;
  background-color: $white;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-align: center;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}


$colors: "blue" "green" "pink";

@each $color in $colors {
  .#{$color} {
    $code: $lightpink;
    @if $color == "blue" {
      $code: $lightblue;
    } @elseif $color == "green" {
      $code: $lightgreen;
    }
    border: 1px solid $code;
    color: $code;
    &:hover,
    &:focus {
      background-color: $code;
    }
  }
}
.stop {
  appearance: none;
  border-color: $action-color;
  border: 3px solid lightblue;
  color: lightblue;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: -4px -2px;

  &:hover,
  &:focus {
    background-color: lightblue;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
